.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.about-navbar {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.about-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.about-link {
  color: rgba(0, 0, 0, 0.5);
  margin-right: var(--dl-space-space-tripleunit);
}
.about-link1 {
  margin-right: 0px;
  text-decoration: none;
}
.about-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.about-icon {
  width: 36px;
  height: 36px;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.about-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.about-heading1 {
  text-decoration: none;
}
.about-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-icon2 {
  width: 24px;
  height: 24px;
}
.about-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-link2 {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: var(--dl-space-space-unit);
}
.about-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.about-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.about-about {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.about-heading-container {
  width: 45%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.about-text {
  font-size: 40px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.about-profile {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text01 {
  font-size: 28px;
  text-align: left;
  font-family: Overpass;
}
.about-experiences {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.about-heading2 {
  font-size: 30px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text02 {
  font-size: 26px;
  font-family: Overpass;
}
.about-text03 {
  font-size: 22px;
  text-align: left;
  font-family: Overpass;
  padding-top: var(--dl-space-space-unit);
}
.about-text04 {
  font-size: 22px;
  font-family: Overpass;
  padding-top: var(--dl-space-space-unit);
}
.about-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-text05 {
  font-size: 22px;
  font-family: Overpass;
  padding-top: var(--dl-space-space-unit);
}
.about-text06 {
  font-size: 22px;
  font-family: Overpass;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-unit);
}
.about-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-text09 {
  font-size: 22px;
  font-family: Overpass;
  padding-top: var(--dl-space-space-unit);
}
.about-text10 {
  font-size: 22px;
  font-family: Overpass;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-unit);
}
.about-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-text13 {
  font-size: 22px;
  font-family: Overpass;
  padding-top: var(--dl-space-space-unit);
}
.about-text16 {
  font-size: 22px;
  font-family: Overpass;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-unit);
}
.about-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.about-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.about-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.about-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.about-link4 {
  align-self: center;
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link5 {
  align-self: center;
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link6 {
  align-self: center;
  font-weight: bold;
  text-decoration: none;
}
@media(max-width: 991px) {
  .about-heading1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .about-links-container {
    display: none;
  }
  .about-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .about-icon {
    fill: var(--dl-color-gray-white);
  }
  .about-mobile-menu {
    display: none;
  }
  .about-about {
    width: auto;
  }
  .about-heading-container {
    width: 100%;
  }
  .about-text {
    font-size: 35px;
  }
  .about-text01 {
    font-size: 26px;
  }
  .about-heading2 {
    font-size: 28px;
  }
  .about-text02 {
    font-size: 24px;
  }
  .about-text03 {
    font-size: 20px;
  }
  .about-text04 {
    font-size: 20px;
  }
  .about-text05 {
    font-size: 20px;
  }
  .about-text06 {
    font-size: 20px;
  }
  .about-text09 {
    font-size: 20px;
  }
  .about-text10 {
    font-size: 20px;
  }
  .about-text13 {
    font-size: 20px;
  }
  .about-text16 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .about-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .about-text {
    font-size: 30px;
  }
  .about-text01 {
    font-size: 24px;
  }
  .about-heading2 {
    font-size: 26px;
  }
  .about-text02 {
    font-size: 22px;
  }
  .about-text03 {
    font-size: 18px;
  }
  .about-text04 {
    font-size: 18px;
  }
  .about-text05 {
    font-size: 18px;
  }
  .about-text06 {
    font-size: 18px;
  }
  .about-text09 {
    font-size: 18px;
  }
  .about-text10 {
    font-size: 18px;
  }
  .about-text13 {
    font-size: 18px;
  }
  .about-text16 {
    font-size: 18px;
  }
  .about-link4 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .about-link5 {
    margin-right: var(--dl-space-space-doubleunit);
  }
}
