.project1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.project1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.project1-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.project1-navbar {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.project1-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.project1-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.project1-link1 {
  margin-right: 0px;
  text-decoration: none;
}
.project1-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.project1-icon {
  width: 36px;
  height: 36px;
}
.project1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.project1-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.project1-heading1 {
  text-decoration: none;
}
.project1-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.project1-icon2 {
  width: 24px;
  height: 24px;
}
.project1-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.project1-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.project1-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.project1-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.project1-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.project1-project-1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.project1-heading-container {
  width: 85%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.project1-text {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.project1-description {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
}
.project1-heading2 {
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.project1-text1 {
  font-size: 22px;
  text-align: left;
  font-family: Overpass;
  padding-top: var(--dl-space-space-unit);
}
.project1-heading3 {
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 900;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.project1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.project1-image {
  width: 52%;
  height: auto;
  min-width: 300px;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.project1-image1 {
  width: 47%;
  min-width: 300px;
  object-fit: cover;
  padding-top: 0px;
  padding-bottom: 0px;
}
.project1-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.project1-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.project1-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.project1-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.project1-link4 {
  align-self: center;
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.project1-link5 {
  align-self: center;
  font-weight: bold;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.project1-link6 {
  align-self: center;
  font-weight: bold;
  text-decoration: none;
}
@media(max-width: 991px) {
  .project1-heading1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .project1-links-container {
    display: none;
  }
  .project1-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .project1-icon {
    fill: var(--dl-color-gray-white);
  }
  .project1-mobile-menu {
    display: none;
  }
  .project1-project-1 {
    width: auto;
  }
  .project1-heading-container {
    width: 85%;
  }
  .project1-text {
    font-size: 30px;
  }
  .project1-heading2 {
    font-size: 22px;
  }
  .project1-text1 {
    font-size: 20px;
  }
  .project1-heading3 {
    font-size: 22px;
  }
}
@media(max-width: 479px) {
  .project1-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .project1-text {
    font-size: 28px;
  }
  .project1-heading2 {
    font-size: 20px;
  }
  .project1-text1 {
    font-size: 18px;
  }
  .project1-heading3 {
    font-size: 20px;
  }
  .project1-link4 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .project1-link5 {
    margin-right: var(--dl-space-space-doubleunit);
  }
}
